/*Reset*/
/*-------------------------------*/
body {
  font-family: Arial;
  color: rgba(0, 0, 0, 0.5);
  background: #fff; }

.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  position: relative;
  background: #2EBE21; }

.wrapper {
  padding-right: 10%; }

.section {
  padding-left: 20%; }

h1, h2, h3, h4, p {
  color: #444; }

h1 {
  font-size: 50px; }

h2 {
  font-size: 40px;
  margin: 10px 0 50px 0px;
  display: inline-block;
  position: relative; }

p {
  font-size: 18px;
  color: #444;
  margin: 10px 0; }

.section, p {
  text-align: left; }

#section0 p, #section6, h2, h3, #section6 p {
  text-align: center; }

.title-block {
  position: relative;
  text-align: center; }

/* menu */
#menu li a,
#menu li.active a {
  padding: 9px 12px;
  display: block; }

#menu li.active a {
  color: #fff; }

#menu {
  padding: 0;
  margin: 0;
  height: auto;
  z-index: 70;
  width: 200px;
  display: block;
  position: fixed;
  top: 50%;
  left: 45px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
  #menu .mobile-btn {
    display: none; }
  #menu li {
    display: inline-block;
    margin: 10px;
    background: rgba(255, 255, 255, 0.91);
    -webkit-border-radius: 10px;
    border-radius: 10px; }
  #menu li a {
    text-decoration: none;
    color: #444; }
  #menu li.active {
    background: #eaeaea; }
  #menu li.active a {
    color: #000 !important; }
  #menu li.active a svg {
    padding: 7px;
    display: inline-block;
    transition: .4s;
    color: #fff;
    background: #3f8bb9;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    margin-bottom: -5px;
    margin-right: 5px; }
  #menu li:hover a {
    transition: .4s; }
  #menu li a svg {
    transition: .4s;
    margin-right: 4px; }

.opened-menu .active {
  background: #fff !important; }
  .opened-menu .active span {
    position: relative;
    top: -4px; }

.opened-menu {
  width: 175px !important; }
  .opened-menu.cross {
    display: block;
    text-align: center; }
  .opened-menu li {
    margin: 12px 0 !important;
    border-radius: 5px !important;
    text-align: left !important;
    padding: 0 7px !important;
    border: 1px solid #f3e7e7 !important;
    background: #eaeaea !important; }
  .opened-menu li a svg {
    margin-right: 5px !important; }

#logo {
  height: auto;
  z-index: 70;
  width: 255px;
  display: block;
  position: fixed;
  top: 20px;
  left: 60px;
  background: #eaeaea;
  padding: 8px;
  border-radius: 50px 50px 50px 0px;
  border: 2px solid #fff; }
  #logo span {
    color: #3f8bb9;
    font-size: 14px; }
  #logo img {
    width: 50px;
    height: auto;
    border-radius: 100%;
    border: 2px solid #eaeaea;
    float: left;
    margin-right: 15px; }
  #logo h1 {
    color: #333;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: normal;
    margin: 8px 0 2px 0; }

#social {
  height: auto;
  z-index: 70;
  width: auto;
  display: block;
  bottom: 40px;
  right: 40px;
  font-size: 30px; }
  #social a {
    color: #fff;
    display: block;
    text-decoration: none;
    font-size: 17px;
    line-height: 30px; }

.title-menu {
  position: absolute;
  top: -10%;
  font-size: 70px;
  left: 0%;
  text-transform: uppercase;
  font-family: Impact, Arial, Tahoma, sans-serif;
  letter-spacing: 5px;
  opacity: 0;
  width: 100%;
  word-wrap: break-word; }

/*Skills section*/
.progress-wrapper {
  width: 50%;
  float: left; }

.progress {
  background: #ededed;
  position: relative;
  text-align: center; }

.determinate {
  background: #3f8bb9;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%; }

.progress span {
  color: #fff;
  position: relative;
  margin: 3px; }

.progress-wrapper span {
  margin: 10px 0 5px 0px;
  display: inline-block; }

.skills {
  margin-top: 20px;
  padding: 10px;
  overflow: hidden;
  text-align: right; }

.skills span {
  background: #ededed;
  display: inline-block;
  padding: 7.5px 10px;
  color: #000;
  margin: 2px 2px 5px 2px;
  cursor: pointer; }

/*Skills section end*/
/*work*/
/*work end*/
/*portfolio*/
.items {
  display: grid;
  grid-template-columns: 3fr auto;
  align-items: center;
  margin: 0 0 10px 0;
  padding-right: 14px; }
  .items .description {
    padding: 5px 15px 0px 15px !important;
    margin: 8px 0 !important; }
  .items .demo a {
    font-size: 15px; }

.item {
  border: 2px solid #ededed;
  display: grid;
  grid-gap: 0px;
  position: relative;
  grid-auto-rows: max-content max-content max-content auto; }
  .item .title {
    background: #ededed;
    padding: 7px;
    text-align: center;
    margin: 0px 0px 10px 0px; }
  .item .description {
    font-size: 15px;
    padding: 5px 5px;
    font-size: 15px;
    padding: 5px 15px;
    margin: 10px 0; }
  .item img {
    border-bottom: 2px solid #ededed;
    width: 100%; }

.flex {
  position: relative; }

.portfolio-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 36px 36px; }

.fp-controlArrow {
  display: none; }

.fp-slidesNav.bottom {
  bottom: 50px;
  left: 50% !important; }

.demo, .used {
  color: #444 !important;
  margin: 2px 5px;
  font-size: 20px; }

.demo svg, .used svg {
  margin: 0 3px; }

.portfolio-more {
  align-self: end;
  padding: 7px; }

.demo {
  float: right; }
  .demo a {
    color: #3f8bb9;
    text-decoration: none; }

/*portfolio end*/
/*hobby*/
/*hobby end*/
/*last page*/
#section6 p {
  color: #bdbdbd; }

@keyframes open {
  from {
    opacity: 0;
    transform: scale(1.9) translate(-29%, -50%); }
  to {
    opacity: 0.14;
    transform: scale(1) translate(0%, 0%); } }
@keyframes close {
  from {
    opacity: 0.1;
    transform: scale(1) translate(0%, 0%); }
  to {
    opacity: 0;
    transform: scale(2.6) translate(-29%, -50%); } }
.open {
  opacity: 0.14;
  animation: open .3s ease; }

.close {
  animation: close .3s ease; }

.hamburger {
  background: none;
  border: 0;
  font-size: 17px;
  cursor: pointer;
  outline: none;
  display: none;
  padding: 8px 10px;
  margin: 0 auto; }

.cross {
  background: none;
  border: 0;
  font-size: 17px;
  cursor: pointer;
  outline: none;
  display: none;
  padding: 8px 10px;
  margin: 0 auto; }

/*# sourceMappingURL=main.css.map */
