/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	#menu span{
		display: none;
		background: #000000;
	}

	.hamburger {
		display: block;
	}

	#menu {
		width: 60px;
		left: 7px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {




	#logo {
		left: 30px;
	}

	.section {
		padding-left: 90px;
		padding-right: 25px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

