body, ul, li, p, div, ol, ul, header, label, footer {
	margin: 0px;
	padding: 0px;
}

::selection {
    background: #98514a70;
}

body {
	background: url(bg.jpg);
	font-family: Arial, Tahoma, sans-serif;
	color: #fff;
	background-color: #333;
}

h1 {
	text-align: center;
}

#wrapper {
    width: 45%;
    margin: 60px auto 20px auto;
    background: #1b1b1bde;
    padding: 20px;
    font-size: 18px;
    min-width: 540px;
}


li {
	position: relative;
}


input[type=checkbox] {
	display: none;
}

input[type=checkbox] + label {
    line-height: 37px;
    font-size: 16px;
    margin-left: 10px;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    color: #fff;
    font-family: Arial;
}

input[type=checkbox] + label:hover {
    text-shadow: 3px 2px 10px #f55050fc;
    transition: .4s;
}

input[type=checkbox] + label:hover:after{
    box-shadow: 0px 0px 18px #ffffff;
    transition: .4s;
}

input[type=checkbox] + label:after {
	content:'';
	display:block;
	height:25px;
	width: 25px;
	position:absolute;
	top: 13%;
	right:0;
    outline: none;
    box-shadow: 0px 0px 10px #b72323;
    background-color: transparent;
    border-radius: 100%;
    cursor: pointer;
}

input[type=checkbox]:checked + label:after {
	display: none;
}

input[type=checkbox]:checked + label:before {
	content: "";
	width: 100%;
	height: 1px;
	background: #888181;
	position: absolute;
	right: 0;
	top: 50%;
	animation: checking .3s ease;
}

input:checked ~ label {
	color: #888181;
}

button {
    width: 40%;
    height: 38px;
    margin: 40px 20px 10px 0px;
    background: #ffffff00;
    font-weight: 700;
    border: 0px;
    cursor: pointer;
    color: #c54a4a;
    border-radius: 4px;
    box-shadow: 0px 0px 8px #c53333;
}

button:hover {
	box-shadow: 0px 0px 35px #c53333;
	transition: .4s;
}

button:focus {
	outline: none;
}

footer {
	color: #cacaca;
    margin-top: 40px;
    font-family: Arial;
    font-size: 13px;
}

#tasks {
	list-style-type: none;
}

#bg-clear,#bg-param {
    position: relative;
    text-decoration: underline;
    color: #c54a4a;
    margin: 5px 0 0px 0;
    display: inline-block;
}

#bg-clear {
    float: right;
    color: #424242 !important; 
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

footer input[type="color" i] {
    outline: 0;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

@keyframes checking{
	from {
		width: 0px;
	}

	to {
		width: 100%;
	}
}


@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation: zoomIn .5s ease;
}